[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/cbw-microservices/client-gateway-ms.git
[submodule "cbw-task-ms"]
	path = cbw-task-ms
	url = https://github.com/cbw-microservices/cbw-task-ms.git
